<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments :: head">
</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments :: main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments :: main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments :: top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments :: slider">
</div>
<!-- End Slider -->

<section id="register-form">
<!--    <div class="noi-dung">-->
    <div class="container mt-2">
        <div class="form">
            <h2>Register</h2>
            <div th:if="${error}">
                <p class="alert alert-warning" th:text="${error}"></p>
            </div>
            <div th:if="${username}">
                <p class="alert alert-warning" th:text="${username}"></p>
            </div>
            <div th:if="${password}">
                <p class="alert alert-warning" th:text="${password}"></p>
            </div>
            <div th:if="${success}">
                <p class="alert alert-success" th:text="${success}"></p>
            </div>
            <form th:action="@{/do-register}" method="post" th:object="${customerDto}">
                <div class="form-group">
                    <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                     th:errors="*{firstName}">
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                     th:errors="*{lastName}">
                </div>
                <div class="form-group">
                    <input type="email" th:field="*{username}" class="form-control" placeholder="Username" name="">
                </div>
                <div class="form-group">
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Password" name="">
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">
                </div>
                <div class="input-form">
                    <input type="password" th:field="*{repeatPassword}" class="form-control" placeholder="Verify password" name="">
                </div>
                <div class="input-form mt-2">
                    <p>Do You Already Have An Account ? <a th:href="@{/login}"> Sign In Now </a></p>
                </div>
                <div class="input-form mt-2">
                    <input type="submit" value="Sign up">
                </div>
            </form>
            <br>
        </div>
    </div>
</section>

<!-- Start Footer  -->
<footer th:replace="fragments :: footer">
</footer>
<!-- End Footer  -->

<!-- Js File  -->
<div th:replace="fragments :: script">
</div>
<!-- End Js File  -->
</body>

</html>